* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration:none;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #969D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    color: #fff;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.img-log {
    margin: 0 auto;
    width: 568px;
    height: 500px;
    margin-left: 125px;
}

section {
    display: inline-block;
    margin-left: 86px;
}

section * {
    padding: 20px;
}

h1 {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #515151;
}

h2 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 58px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #515151;
}

p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #848484;
    width: 515px;
}

main button {
    width: 239;
    height: 64;
    angle: 0 deg;
    opacity: 1;
    border-radius: 20.5px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    font-family: Montserrat;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

@media screen and (max-width:900px) {
    header {
        display: none;
    }

    .img-log {
        margin: 200px 10px 10px;
        width: 90%;
        height: auto;
    }

    section {
        margin: 36px;
        font-weight: 900;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    h1 {
        font-size: 80px;
        text-align: center;
    }

    h2 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }

    p {
        display: none;
    }

    main button{
        margin: 16px auto;
        display: block;
    }
}